<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Feature_SortLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CleanupActiveCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_AutoSaveAndCloseIfOpenedByCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeCPlusPlus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_ExclusionExpression" serializeAs="String">
                <value>\\src\\||\\test\\||\\oas\\</value>
            </setting>
            <setting name="Cleaning_IncludeXAML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeXML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_AlphabetizeMembersOfTheSameGroup"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePHP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CleanupAllCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CollapseSelectedSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeVB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_ReorganizeActiveCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_ReadOnlyToggle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeTypeScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeCSharp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeJavaScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CloseAllReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_KeepMembersWithinRegions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CleanupOpenCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CommentFormat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeSCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CollapseAllSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeLESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CleanupSelectedCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeFSharp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_FindInSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_RemoveRegion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_JoinLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_SwitchFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_BuildProgressToolWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Feature_SettingCleanupOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludeR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_IncludePowerShell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_SpadeToolWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>